body
{
	margin: 0;
	padding: 0;
}
.header
{
	width: 100%;
	height: 100%;
	background-image: url("./images/header-bg.jpg");
	background-repeat: no-repeat;
	float: left;
	box-sizing: border-box;
}
a
{
	text-decoration: none;
}
.h1
{
	width: 50%;
	text-align: center;
	float: left;
	padding-top: 20px;
}
.h2
{
	background: white;
	float:right;
	width: 46%;
	padding: 15px 2px;
	box-sizing: border-box;
	margin-bottom: 20px;
	color: black;
}
.h21,.h31
{
	display: inline;
	margin-right: 25px;
	color: white;
}
.h3
{
	
	float:right;
	width: 50%;
	padding: 2px;
	box-sizing: border-box;
	margin-bottom: 12px;
	padding-left: 45px;
}
.h312
{
	color: white;
}
.h311
{
	color: black;
}
.arro
{
	float: right;
	height: auto;
}
.h211
{
	color: rgb(58, 173, 240);
}
.main
{
	width: 100%;
	height: 100vh;
	background-image: url("./images/banner.jpg");
	background-size: 100%;
	float: left;
	background-repeat: no-repeat;	
}
.m1
{
	text-align: center;
}
.m11
{
	color: rgb(58, 173, 240);
	font-size: 60px;
	font-weight: 1000;
	margin-top: 120px;
}
.m12
{
	color: rgb(240, 242, 243);
	font-size: 60px;
	font-weight: 1000;
}
.m13,.bu2,.c33,.m6-33
{
	background-color: rgb(255, 24, 0);
	color: white;
	padding: 15px 45px;
	margin-top: 50px;
	border:rgb(255, 24, 0);
	border-radius: 30px;
}
.tb1
{
	margin-top: 30px;
	background: white;
	color: rgb(58, 173, 240); 
	float: left;
	margin-bottom: 0px;
}
.tb2
{
	background: rgba(255, 255, 255, 0.8);
	margin-top: 0px;
}
td
{
	padding: 6px 5px ;
	margin: 2px 10px;
}
.main2,.main3,.main4,.main5,.main6,.main7
{
	float: left;
	text-align: center;
	margin-bottom: 50px;
	width: 100%;
}
hr{
	display: inline-block;
}
.c1,.m3-1,.m4-1,.m5-1,.m6-1,.m7-1
{ 
	font-size: 30px;
	display: inline;
	font-weight: 1000;
}
.c2,.m3-2,.m4-2,.m5-2,.m6-2,.m7-2
{
	margin: 10px 220px;
	line-height: 25px;
	color: rgb(110, 90, 90);
}
.c3
{
	border: 10px solid rgb(58, 173, 240);
	width: 60%;
	height: 50vh;
	margin-left: 20%;
	margin-top: 80px;
}
.c31
{
	float: left;
	width: 50%;
	padding-top: 40px;
	padding-left: 15px;
	text-align: start;
	word-spacing: 5px;
	line-height: 25px;
	color: rgb(110, 90, 90);
}
.c32
{
	float: right;
	width: 40%;
	height: 100%;
}
.m3-31,.m5-31
{
	margin: 1px 180px;
}
.m3-312
{
	font-size: 30px ;
}
.m3-313,.m5-313
{
	color: rgb(110, 90, 90);	
}
.m4-3 img
{
	width: 100%;
}
.m5-3
{
	background-size: 100%;
	background-color: white;
	width: 100%;
	
}
.m5-31 img
{
	width: 90%;
}
.m5-31 td
{
	text-align: start;
}
.m5-312
{
	font-size: 20px;
}
.m5-314 img
{
	width: 20px;
	color: turquoise;
}
.m5-315
{
	border-radius: 50px;
	background-color: rgb(0, 0, 0);
	border:8px solid  rgb(0, 0, 0);
}
.main6
{
	background-image: url("./images/Amazing.jpg");
	color: white;
	padding-top: 150px;
	background-size: 100%;
	background-repeat: no-repeat;
}

.m6-33
{
	margin:60px 30px;
}
.m6-2
{
	color: rgb(218, 218, 189);
}
.m7-3 img
{
    width: 80%;
}
.m7-31
{
	text-align: right;	
	padding-right: 10px;
}
.m7-32
{
	text-align: left;
	padding-left: 10px;	
}
.m7-33 
{
	color: rgb(58, 173, 240);
	font-size: 10px;
}
.m7-33 span
{
	color: rgb(110, 90, 90);	
}
.m7-331
{
	padding-left: 130px;
	float: left;
}	
.m7-332,.m7-333
{
	padding:0px 5px;
	
	float: right;
}	
.m7-334
{
	float: left;
	padding-left: 8px;
}
.m7-335,.m7-336
{
	padding:0px 130px 0px 5px;
	float: right;
}
.m7-336
{
	padding:0px 5px;
	float: right;	
}
.m7-342
{
	padding-left: 8px;
	text-align: left;
	font-size: 25px;
}
.m7-341
{
	padding-left: 135px;
	text-align: left;
	font-size: 25px;
}
.m7-351
{
	padding-left: 135px;
}
.m7-352
{
	padding-right: 118px;
	padding-left: 8px;
}
.m7-351,.m7-352
{
	text-align: start;
	color: rgb(110, 90, 90);
	font-size: 15px;
}